/*********** Keyframes ***********/

@keyframes fade-in-top {
    from {
      opacity: 0;
      transform: translateY(-350px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fade-in-bottom {
    from {
      opacity: 0;
      transform: translateY(350px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/*********** Header ***********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.logo-site {
    margin-left: 100px;
}

.logo-site img {
    max-width: 250px;
}

nav {
    margin-right: 100px;
}

/* Menu burger */

.menu-burger {
    display: none;
}

.ligne {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.navigation-burger {
    display: none;
    width: 100%;
    height: calc(100% - 80px);
    background-color: #E00000;
    z-index: 50;
    animation: fade-in-top 1s ease-in-out;
    padding: 200px 0 200px 0;
}

.navigation-burger ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 30px;
}

.navigation-burger a {
    color: #FFFFFF !important;
    font-size: 45px;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a:hover {
    font-weight: 700;
}

/* Modale de contact */

.emplacement-modale {
    display: none;
    position: fixed;
    z-index: 1;
    top: 80;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation: fade-in-bottom 1s ease-in-out;
}

#modale-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fermeture {
    margin: 3px 0 3px 580px;
    background: #D8D8D8;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fermeture:hover {
    font-weight: 700;
    cursor: pointer;
}

.contenu-modale {
    width: 597px;
    overflow: hidden;
    border: 5px #000 solid;
    background-color: #FFFFFF;
}

.image-contact {
    height: 105px;
    width: 885px;
    margin-left: -145px;
    margin-top: 10px;
}

.shortcode-formulaire {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.libellé {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.libellé input {
    border-radius: 8px;
    border: 1px #B8BBC2 solid;
    width: 263px;
    height: 40px;
    margin-bottom: 15px;
}

.libellé textarea {
    border-radius: 8px;
    border: 1px #B8BBC2 solid;
    width: 263px;
    height: 210px;
}

.bouton-envoyer {
    margin-left: 2px;
}

.bouton-envoyer input {
    background: #D8D8D8;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 263px;
    height: 50px;
}

/*********** Footer ***********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px black solid;
    width: 100%;
}

/*********** Media Queries ***********/

@media (max-width: 769px) {

    /* Header */
    nav {
        margin-right: 10px;
    }
    nav ul {
        gap: 20px !important;
    }
    .logo-site {
        margin-left: 10px;
    }

    /* Modale */
    .contenu-modale {
        width: 400px;
    }
    .fermeture {
        margin-left: 383px;
    }
}

@media (max-width: 426px) {

    /* Header */
    .logo-site img {
        max-width: 200px;
    }
    nav {
        display: none;
    }
    .menu-burger {
        display: flex;
        height: 20px;
        width: 20px;
        flex-direction: column;
        gap: 5px;
    }
    .croixgauche{
        transform: rotate(-45deg) translateY(4.75px);
        transition: transform 0.4s linear;
    }
    .croixdroite{
        transform: rotate(45deg) translateY(-4.75px);
        transition: transform 0.4s linear;
    }

    /* Modale */
    .contenu-modale {
        width: 280px;
    }
    .fermeture {
        margin-left: 263px;
    }
    .libellé textarea {
        height: 150px;
    }

    /* Footer */
    footer .menu {
        flex-direction: column;
        gap: 10px;
    }
}
